// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/display/media-bus-format.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include "rk3566.dtsi"
#include "rk3568-evb2.dtsi"

/ {
	model = "Rockchip RK3566 EVB2 LP4X V10 Board";
	compatible = "rockchip,rk3566-evb2-lp4x-v11", "rockchip,rk3566";

	adc_keys: adc-keys {
		compatible = "adc-keys";
		io-channels = <&saradc 0>;
		io-channel-names = "buttons";
		keyup-threshold-microvolt = <1800000>;
		poll-interval = <100>;

		vol-up-key {
			label = "volume up";
			linux,code = <KEY_F>;
			press-threshold-microvolt = <1750>;
		};		
	};

	rk_headset: rk-headset {
		compatible = "rockchip_headset";
		headset_gpio = <&gpio4 RK_PC6 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&hp_det>;
		io-channels = <&saradc 2>;
	};

/*	vibrator {
		compatible = "rk-vibrator-gpio";
		vibrator-gpio = <&gpio0 RK_PC4 GPIO_ACTIVE_LOW>;
		status = "okay";
	};*/

	keys: gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pwr_key>;
		autorepeat;
		vol-up-key {
			gpios = <&gpio3 RK_PA7 GPIO_ACTIVE_LOW>;
			linux,code = <115>;
			label = "volume up";
		};

		vol-down-key {
			gpios = <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>;
			linux,code = <114>;
			label = "volume down";
		};

/*		power-key {
			wakeup-source;
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
			linux,code = <116>;
			label = "power";
		};
*/							
			
	};	
        leds: gpio-leds {
                compatible = "gpio-leds";
                pinctrl-names = "default";
                pinctrl-0 =<&leds_gpio>;

                led@1 {
                        gpios = <&gpio0 RK_PC5 GPIO_ACTIVE_HIGH>;
                        label = "battery_full";
			default-state="on";
                        retain-state-suspended;
                };

                led@2 {
                        gpios = <&gpio0 RK_PC6 GPIO_ACTIVE_HIGH>;
                        label = "battery_charging";
                        retain-state-suspended;
                };
				
                led@3 {
                        gpios = <&gpio0 RK_PC7 GPIO_ACTIVE_HIGH>;
                        label = "low_power";
			default-state="off";
                        retain-state-suspended;
                };			
	};

	wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		wifi_chip_type = "ap6330";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_host_wake_irq>;
		WIFI,host_wake_irq = <&gpio4 RK_PA1 GPIO_ACTIVE_HIGH>;
		//WIFI,poweren_gpio = <&gpio0 RK_PA0 GPIO_ACTIVE_HIGH>; /* GPIO0_a3 */
		keep_wifi_power_on;		
		status = "okay";
	};

	wireless-bluetooth {
		compatible = "bluetooth-platdata";
		clocks = <&rk817 1>;
		clock-names = "ext_clock";
		//wifi-bt-power-toggle;
		uart_rts_gpios = <&gpio2 RK_PB5 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default", "rts_gpio";
		pinctrl-0 = <&uart1m1_rtsn>;
		pinctrl-1 = <&uart1_gpios>;
		BT,reset_gpio    = <&gpio4 RK_PA3 GPIO_ACTIVE_HIGH>;
		BT,wake_gpio     = <&gpio4 RK_PA4 GPIO_ACTIVE_HIGH>;
		BT,wake_host_irq = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
	
	joypad: singleadc-joypad {
		compatible = "singleadc-joypad";

		joypad-name = "retrogame_joypad";
		joypad-product = <0x1101>;
		joypad-revision = <0x0100>;

		status = "okay";

		/* gpio pincontrol setup */
		pinctrl-names = "default";
		pinctrl-0 = <&btn_pins>;

		/* Analog mux define */
		io-channel-names = "amux_adc";
		io-channels = <&saradc 3>;

		/* adc mux channel count */
		amux-count = <4>;
		/* adc mux select(a,b) gpio */
		amux-a-gpios = <&gpio0 RK_PB6 GPIO_ACTIVE_LOW>;
		amux-b-gpios = <&gpio0 RK_PB7 GPIO_ACTIVE_LOW>;
		/* adc mux enable gpio */
		amux-en-gpios = <&gpio0 RK_PB5 GPIO_ACTIVE_LOW>;

		/* adc calculate scale */
		button-adc-scale = <2>;

		/* adc deadzone range  */
		button-adc-deadzone = <64>;

		/*
		  specifies fuzz value that is used to filter noise from
		  the event stream.
		*/
		button-adc-fuzz = <32>;
		button-adc-flat = <32>;

		/*
		  Analog Stick data tuning value(precent)
		  p = positive direction, n = negative direction
		  report value = (real_adc_data * tuning_value) / 100
		*/
		abs_x-p-tuning = <400>;
		abs_x-n-tuning = <400>;

		abs_y-p-tuning = <400>;
		abs_y-n-tuning = <400>;

		abs_rx-p-tuning = <400>;
		abs_rx-n-tuning = <400>;

		abs_ry-p-tuning = <400>;
		abs_ry-n-tuning = <400>;

		/* poll device interval (ms), adc read interval */
		poll-interval = <10>;

		/* gpio button auto repeat set value : default disable */
		/*
			autorepeat;
		*/
		sw1 {
		        gpios = <&gpio3 RK_PA3 GPIO_ACTIVE_LOW>;
		        label = "GPIO DPAD-UP";
		        linux,code = <BTN_DPAD_UP>;
		};
		sw2 {
		        gpios = <&gpio3 RK_PA4 GPIO_ACTIVE_LOW>;
		        label = "GPIO DPAD-DOWN";
		        linux,code = <BTN_DPAD_DOWN>;
		};
		sw3 {
		        gpios = <&gpio3 RK_PA5 GPIO_ACTIVE_LOW>;
		        label = "GPIO DPAD-LEFT";
		        linux,code = <BTN_DPAD_LEFT>;
		};
		sw4 {
		        gpios = <&gpio3 RK_PA6 GPIO_ACTIVE_LOW>;
		        label = "GPIO DPAD-RIGHT";
		        linux,code = <BTN_DPAD_RIGHT>;
		};
		sw5 {
		        gpios = <&gpio3 RK_PC3 GPIO_ACTIVE_LOW>;
		        label = "GPIO KEY BTN-A";
		        linux,code = <BTN_SOUTH>;
		};
		sw6 {
		        gpios = <&gpio3 RK_PC2 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN-B";
		        linux,code = <BTN_EAST>;
		};
		sw7 {
		        gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN-X";
		        linux,code = <BTN_NORTH>;
		};
		sw8 {
		        gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN-Y";
		        linux,code = <BTN_WEST>;
		};
		sw9 {
		        gpios = <&gpio3 RK_PB6 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_SELECT";
		        linux,code = <BTN_SELECT>;
		};
		sw10 {
		        gpios = <&gpio3 RK_PB5 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_START";
		        linux,code = <BTN_START>;
		};
		sw11 {
		        gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_F";
		        linux,code = <BTN_MODE>;
		};
		sw12 {
		        gpios = <&gpio3 RK_PB1 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_TL";
		        linux,code = <BTN_TL>;
		};
		sw13 {
		        gpios = <&gpio3 RK_PB3 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_TR";
		        linux,code = <BTN_TR>;
		};
		sw14 {
		        gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_TL2";
		        linux,code = <BTN_TL2>;
		};
		sw15 {
		        gpios = <&gpio3 RK_PB4 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_TR2";
		        linux,code = <BTN_TR2>;
		};
		sw16 {
		        gpios = <&gpio3 RK_PA1 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_THUMBL";
		        linux,code = <BTN_THUMBL>;
		};
		sw17 {
		        gpios = <&gpio3 RK_PA2 GPIO_ACTIVE_LOW>;
		        label = "GPIO BTN_THUMBR";
		        linux,code = <BTN_THUMBR>;
		};
	
    	};

	es8316-sound {
		status = "disabled";
		compatible = "simple-audio-card";
		simple-audio-card,format = "i2s";
		simple-audio-card,name = "ES8316";
		simple-audio-card,mclk-fs = <256>;
		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Headphone", "Headphone Jack";
		simple-audio-card,routing =
			"Mic Jack", "MICBIAS1",
			"IN1P", "Mic Jack",
			"Headphone Jack", "HPOL",
			"Headphone Jack", "HPOR";
		simple-audio-card,cpu {
			sound-dai = <&i2s1_8ch>;
			system-clock-frequency = <11289600>;
		};
		simple-audio-card,codec {
			sound-dai = <&es8316>;
			system-clock-frequency = <11289600>;
		};
	};
};

&combphy1_usq {
	status = "okay";
};

&combphy2_psq {
	status = "okay";
};

&csi2_dphy_hw {
	status = "disabled";
};

&csi2_dphy0 {
	status = "disabled";
};

&csi2_dphy1 {
	status = "disabled";
};

&csi2_dphy2 {
	status = "disabled";
};

/*
 * mipi_dphy0 needs to be enabled
 * when dsi0 is enabled
 */
&dsi0 {
	status = "okay";
};

&dsi0_in_vp0 {
	status = "disabled";
};

&dsi0_in_vp1 {
	status = "okay";
};

&dsi0_panel {
	power-supply = <&vcc3v3_lcd0_n>;
	reset-gpios = <&gpio4 RK_PA0 GPIO_ACTIVE_LOW>;
	pinctrl-names = "default";
	pinctrl-0 = <&lcd0_rst_gpio>;
};

/*
 * mipi_dphy1 needs to be enabled
 * when dsi1 is enabled
 */
&dsi1 {
	status = "disabled";
};

&dsi1_in_vp0 {
	status = "disabled";
};

&dsi1_in_vp1 {
	status = "disabled";
};

&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2m1_xfer>;
};

&i2c4 {
	/* i2c4 sda conflict with camera pwdn */
	status = "disabled";

	/*
	 * gc2145 needs to be disabled,
	 * when gmac1 is enabled;
	 * pinctrl conflicts;
	 */
	gc2145: gc2145@3c {
		status = "disabled";
		compatible = "galaxycore,gc2145";
		reg = <0x3c>;
		clocks = <&cru CLK_CIF_OUT>;
		clock-names = "xvclk";
		power-domains = <&power RK3568_PD_VI>;
		pinctrl-names = "default";
		/* conflict with gmac1m1_rgmii_pins & cif_clk*/
		pinctrl-0 = <&cif_clk &cif_dvp_clk &cif_dvp_bus16>;

		/*avdd-supply = <&vcc2v8_dvp>;*/
		/*dovdd-supply = <&vcc1v8_dvp>;*/
		/*dvdd-supply = <&vcc1v8_dvp>;*/

		/*reset-gpios = <&gpio3 RK_PB5 GPIO_ACTIVE_LOW>;*/
		pwdn-gpios = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "CameraKing";
		rockchip,camera-module-lens-name = "Largan";
		port {
			gc2145_out: endpoint {
				remote-endpoint = <&dvp_in_bcam>;
			};
		};
	};
};

&mdio1 {
	rgmii_phy0: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
	};
};

&mipi_dphy0 {
	status = "okay";
};

&mipi_dphy1 {
	status = "disabled";
};

&pinctrl {
	
	headphone {
		hp_det: hp-det {
			rockchip,pins = <4 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sdio-pwrseq {
		wifi_enable_h: wifi-enable-h {
			rockchip,pins = <4 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	power-wlan-bt {
		vcc_wifi_h: vcc-wifi-h {
			rockchip,pins = <0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	
	wireless-wlan {
		wifi_host_wake_irq: wifi-host-wake-irq {
			rockchip,pins = <4 RK_PA1 RK_FUNC_GPIO &pcfg_pull_down>;
		};
	};

	wireless-bluetooth {
		uart1_gpios: uart1-gpios {
			rockchip,pins = <4 RK_PB6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

        gpio-leds {
		leds_gpio: leds-gpio {
			rockchip,pins =
				<0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>,
				<0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>,
				<0 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	lcd0 {
		lcd0_rst_gpio: lcd0-rst-gpio {
			rockchip,pins = <4 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	btns {
		btn_pins: btn-pins {
			rockchip,pins = 
					<3 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA1 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA4 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA5 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB5 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB6 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PB7 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PC2 RK_FUNC_GPIO &pcfg_pull_up>,
					<4 RK_PA6 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PC3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	keys {
			pwr_key: pwr-key {
				rockchip,pins = 
					<3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>,
					<3 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
			};
	};	
	
};

&rkcif {
	status = "okay";
};

&rkcif_dvp {
	status = "disabled";

	port {
		/* Parallel bus endpoint */
		dvp_in_bcam: endpoint {
			remote-endpoint = <&gc2145_out>;
			bus-width = <8>;
			vsync-active = <0>;
			hsync-active = <1>;
		};
	};
};

&route_dsi0 {
	status = "okay";
	connect = <&vp1_out_dsi0>;
};

&sdmmc0 {
	//clock-frequency = <50000000>;
	max-frequency = <150000000>;
	supports-sd;
	bus-width = <4>;
	disable-wp;
	cap-mmc-highspeed;
	cap-sd-highspeed;	
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	vqmmc-supply = <&vccio_sd>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
	status = "okay";
};

&sdmmc1 {
	max-frequency = <150000000>;
	supports-sd;
	bus-width = <4>;
	disable-wp;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	keep-power-in-suspend;	
//	mmc-pwrseq = <&sdio_pwrseq>;
//	non-removable;
	card-detect-delay = <800>;
	cd-gpios = <&gpio2 RK_PB2 GPIO_ACTIVE_LOW>; /*[> CD GPIO <]*/
	vqmmc-supply = <&vcc1v8_dvp>;	
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc1_bus4 &sdmmc1_cmd &sdmmc1_clk>;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
//	rockchip,default-sample-phase = <90>;
	status = "okay";
};

&sdmmc2 {
	max-frequency = <100000000>;
	supports-sdio;
	bus-width = <4>;
	disable-wp;
	cap-sd-highspeed;
	cap-sdio-irq;
	keep-power-in-suspend;
	mmc-pwrseq = <&sdio_pwrseq>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc2m0_bus4 &sdmmc2m0_cmd &sdmmc2m0_clk>;
	sd-uhs-sdr104;
	rockchip,default-sample-phase = <90>;
	status = "okay";
};

//&sdio_pwrseq {
	//reset-gpios = <&gpio3 RK_PC7 GPIO_ACTIVE_LOW>;
//};

&spdif_8ch {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spdifm1_tx>;
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m1_xfer &uart1m1_ctsn>;
};

&vcc3v3_lcd0_n {
	gpio = <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
	enable-active-high;
};
